.navbar {
    background: rgba(255,255,255,.7);
    width: 100%;
    min-height: 50px;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.affix {
    position: fixed;
    top: 0;
    z-index: 1031;
    background: rgba(0,0,0,.7);
    transition: all .8s ease-out;
}

.navbar .container {
    margin: 0 30px;
    text-align: right;
}

.nav-menu {
    list-style: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    position: relative;
    display: inline-block;
    line-height: 50px;

    transition: all .3s ease;
}

.nav-menu >li:first-child {
    float: left;
}

.nav-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    color: #d8a942;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    line-height: 50px;
    padding: 0 10px;
    transition: all .5 ease;
    -webkit-transition: all .5 ease;
    -moz-transition: all .5 ease;
    -ms-transition: all .5 ease;
    -o-transition: all .5 ease;
}

.nav-menu li a.user-avatar .icon-user {
    border-radius: 50%;
    cursor: pointer;
    color: #c0c0c0;
    background: #c0c0c0;
    box-shadow: 0 0 5px #ccc;
    transition: width .5s,height .5s;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.icon-avatar {
    z-index: 100;
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
}

.pulsing-circle {
    position: absolute;
    width: 30px;
    height: 30px;
}

.pulsing-circle .circle {
    border-radius: 50%;
    background-color: deepskyblue;
    width: 30px;
    height: 30px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
    -webkit-animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
        -webkit-transform: scale(2.5, 2.5);
        -moz-transform: scale(2.5, 2.5);
        -ms-transform: scale(2.5, 2.5);
        -o-transform: scale(2.5, 2.5);
    }
}

.nav-menu li a.user-avatar img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.nav-menu li a:hover {
    border-bottom: 2px solid #d8a942;
}

.nav-menu li a.is-active:after {
    position:absolute;
    content:'';
    left: 0;
    width:60px;
    height: 3px;
    background: #fff;
    bottom: -3px;
    z-index: 1002;
}

.navbar.affix .nav-menu li a {
    color: #fff;
}

.navbar.affix .nav-menu li a:hover {
    border-bottom: 2px solid #fff;
}

.sub-menu {
    display: none;
    position: absolute;
    z-index: 1001;
    background: #fff;
    min-width: 200px;
    top: calc(100%);
    left: calc(50% - 168px);
    border-top: 3px solid #d8a942;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.nav-menu li a.is-active + ul.sub-menu {
    display: block;
}

.navbar.affix .sub-menu {
    border-top: 3px solid #d8a942;
    background: rgba(0,0,0,.7);
}

.sub-menu li {
    display: block;
}

.sub-menu li a {
    display: block;
    text-align: center
}
