<nav class="navbar nav-tick" #stickyMenu [class.affix] = "sticky">
    <div class="container">
        <ul class="nav-menu">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/post">Đề cử anime</a></li>
            <li><a routerLink="/host">Tin tức anime</a></li>
            <li><a routerLink="/">Tin tức manga</a></li>
            <li><a routerLink="/">Cosplay</a></li>
            <li><a routerLink="/">Văn hóa Nhật Bản</a></li>
            <li><a routerLink="/">Review & Spoiler</a></li>
            <li><a routerLink="/">Fanmade</a></li>
            <li><a routerLink="/">Tổng hợp</a></li>
            <li>
                <a class="user-login user-avatar {{ isActive ? 'is-active' : '' }}" (click)="activeMenu()">USER</a>
                <ul class="sub-menu">
                    <li><a>Facebook</a></li>
                    <li><a>Google</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>