<nav class="navbar nav-tick" #stickyMenu [class.affix]="sticky">
    <div class="container">
        <ul class="nav-menu">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/post">Đề cử anime</a></li>
            <li><a routerLink="/host">Tin tức anime</a></li>
            <li><a routerLink="/">Tin tức manga</a></li>
            <li><a routerLink="/">Cosplay</a></li>
            <li><a routerLink="/">Văn hóa Nhật Bản</a></li>
            <li><a routerLink="/">Review & Spoiler</a></li>
            <li><a routerLink="/">Fanmade</a></li>
            <li><a routerLink="/">Tổng hợp</a></li>
            <li>
                <a class="user-login user-avatar {{ isActive ? 'is-active' : '' }}" (click)="activeMenu()">
                    <div class="icon-avatar">
                        <img class="icon-user" src="{{ !user ? 'assets/images/avatar.png' : user.image }}">
                    </div>
                    <div class="pulsing-circle">
                        <div class="circle" style="animation-delay: 0s"></div>
                        <div class="circle" style="animation-delay: 1s"></div>
                        <div class="circle" style="animation-delay: 2s"></div>
                        <div class="circle" style="animation-delay: 3s"></div>
                    </div>
                </a>
                <ul class="sub-menu" *ngIf="!user">
                    <li><a (click)="signInWithFB()">Facebook</a></li>
                    <li><a>Google</a></li>
                    <li><a (click)="signOut()">Sign Out</a></li>
                </ul>
                <ul *ngIf="user" class="sub-menu">
                    <li><a (click)="signOut()">Sign Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>