<div class="row">
    <div class="list-items">
        <div class="wrap-item" *ngFor="let item of posts">
            <div class="item">
                <div class="item-thumbnail">
                    <a href="">
                        <img src="{{ item.thumbnail }}"/>
                    </a>
                </div>
                <div class="item-title">
                    <a>{{ item.title}}</a>
                </div>
                <div class="item-meta">
                    <span class="item-view">{{ item.views }} lượt xem</span>
                    <span class="item-publish-date">{{ item.published_at }}</span>
                </div>
                <div class="item-desc">
                    <p>{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" key="1">
        <div class="btn-load-more">
            <button (click)="loadMore()">LOAD MORE</button>
        </div>
    </div>
</div>
